$primary-color: #000000;
$secondary-color: #ffffff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

@mixin displayCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main {
    background-image: url('https://images.pexels.com/photos/2877192/pexels-photo-2877192.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    @include displayCenter();
    position: relative;
    transition: all ease-in-out 5s;
    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .title {
        position: relative;
        z-index: 2;
        font-size: 3rem;
        font-weight: bolder;
        margin: 5px auto;
        color: $secondary-color;
    }

    .date {
        z-index: 2;
        position: relative;
        @include displayCenter();

        h1,
        h2 {
            margin: 5px auto;
            color: $secondary-color;
            font-size: 2rem;
            font-weight: bold;
        }
    }

    .search-box {
        z-index: 2;
        position: relative;

        input {
            width: 40rem;
            height: 3em;
            border: 0;
            border-radius: 10px;
            padding: 0.5em 1em;
            letter-spacing: 1px;
            font-size: 1rem;

            &::placeholder {
                color: $primary-color;
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
        z-index: 2;
        position: relative;

        .grid-div {
            background-color: $primary-color;
            color: $secondary-color;
            padding: 10px;
            @include displayCenter();
            width: 300px;
            height: 200px;

        }

    }
}

.main-warm {
    background-image: url('https://images.pexels.com/photos/1076429/pexels-photo-1076429.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
}

@media (max-width: 576px) {
    .main {
        .search-box {
            input {
                width: 100%;
                height: 3em;
            }
        }
    }
}

@media (max-width: 768px) {
    .main {
        .search-box {
            input {
                width: 100%;
            }
        }
    }
}